[user]
  name = drucker
  email = drucker@drucker.local
[core]
  autocrlf = false
  safecrlf = false
  ignorecase = false
  excludesfile = ~/.gitignore
[color]
  ui = true
[push]
  default = current
[diff]
  renames = copies
[alias]
  apply = apply --index -v
  p = format-patch --stdout
  diff = diff --full-index --binary
  co = checkout
  st = status --untracked-files=all
  unstash = !git stash show -p | git apply -R
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset' --abbrev-commit
  clean = clean -fdx
  reset = reset --hard
